name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19.13'
          cache: false
      
      - name: Install dependencies
        run: |
          go version

      - name: Run build
        run: go build . 
      
      - name: Run tests
        run: go test -v -coverprofile=profile.cov ./...

      - name: Run vet & lint
        run: |
          go vet .
   
      - name: codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./profile.cov
